.title {
  text-align: center;
  font-size: 24px;
  margin-top: 10px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.homePageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  text-align: center;
}

button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.primaryButton {
  background-color: #007bff;
  color: white;
  margin: 5px;
}

.logoutButton {
  background-color: #dc3545;
  color: white;
  margin: 5px;
}

.loaderDivParent {
  display: grid;
  place-items: center;
  height: 100vh;
}

.loaderDivCenter {
  color: #007bff;
  font-weight: bold;
}

.header {
  background-color: #c7d2ed;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  box-sizing: border-box;
}

.sidebar {
  background-color: #c7d2ed;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: left;
  position: fixed;
  transition: 350ms;
  z-index: 10;
}

ul {
  list-style-type: none;
  margin: 1px;
}
