form {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

@media (max-width: 600px) {
  .homePageContainer {
    padding: 10px;
  }

  input[type="text"],
  input[type="password"] {
    font-size: 14px;
  }

  .primaryButton {
    padding: 8px 16px;
  }
}
